#wrapper {
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100vw;
   background: #FFF;
   color: #121212;
   overflow: hidden;
   display: grid;
   grid-template-columns: 10% 40% 10% 40%;
   grid-template-rows: 1fr 1fr max-content 1fr 1fr;
}

#texas {
   margin-top: 2em;
   grid-column: 1 / 4;
   grid-row: 1 / span 5;
   align-self: center;
}

#texas svg path {
   stroke-dasharray: 4000;
   -webkit-animation: dash 5s 200ms infinite alternate;
   -moz-animation: dash 5s 200ms infinite alternate;
   -o-animation: dash 5s 200ms infinite alternate;
   animation: dash 5s 200ms infinite alternate;
 }
 
 @-webkit-keyframes dash {
   from {
      stroke-dashoffset: 4000;
   }

   to {
     stroke-dashoffset: 0;
   }
 }
 @-moz-keyframes dash {
   from {
      stroke-dashoffset: 4000;
   }
   
   to {
     stroke-dashoffset: 0;
   }
 }
 @-o-keyframes dash {
   from {
      stroke-dashoffset: 4000;
   }
   to {
     stroke-dashoffset: 0;
   }
 }
 @keyframes dash {
   from {
      stroke-dashoffset: 4000;
   }
   
   to {
     stroke-dashoffset: 0;
   }
 }

#name {
   grid-column: 2 / 5;
   grid-row: 5 / span 1;
   align-self: end;
}

#title {
   margin: .5em 0 0 1em;
   grid-column: 2 / 3;
   grid-row: 3 / span 1;
   font-family: "HelveticaNeue-CondensedBold";
   font-weight: bold;
   align-self: start;
   z-index: 1;
   opacity: .3;
}

#about {
   margin: 1em;
   grid-column: 2 / 3;
   grid-row: 3 / span 1;
   font-family: "Avenir", Helvetica;
   font-size: 18px;
   align-self: center;
   color: white;
   z-index: 1;
}

#img {
   margin: 1em;
   grid-column: 3 / 5;
   grid-row: 3 / span 1;
   overflow: hidden;
   z-index: 1;
   align-self: center;
}

#strip {
   background: #121212;
   opacity: .75;
   grid-column: 1 / 5;
   grid-row: 3 / span 1;
}

@media only screen and (max-width: 1050px) and (orientation: portrait){
   #wrapper {
      height: 100%;
      grid-template-columns: 10% 40% 10% 40%;
      grid-template-rows: 1fr 10% max-content 10% 1fr;
   }

   #texas {
      grid-column: 1 / 5;
      grid-row: 2 / span 3;
   }

   #title {
      grid-column: 1 / 5;
      grid-row: 1 / span 1;
      align-self: end;
   }

   #img { 
      grid-column: 3 / 5;
      grid-row: 3 / span 1;
      margin: 0;
   }

   #about {
      padding: .5em;
      grid-column: 1 / 4;
      grid-row: 2 / span 3;
      line-height: 2em;
      font-size: 24px;
      z-index: 2;
   }

   #strip {
      grid-column: 1 / 5;
      grid-row: 1 / span 5;
   }
}

@media only screen and (max-width: 770px) and (orientation: portrait) {
   #img { 
      display: none;
   }

   #about {
      padding: 1em;
      grid-column: 1 / 5;
      grid-row: 2 / span 3;
   }
}

@media only screen and (max-width: 420px) and (orientation: portrait) {
   #about {
      padding: 0 1.5em 0 .5em;
      font-size: 16px;
   }
}

@media only screen and (max-width: 360px) and (orientation: portrait) {
   #about {
      font-size: 13px;
   }
}



@media only screen and (max-width: 920px) and (orientation: landscape) {
   #wrapper {
      height: 100%;
      grid-template-columns: 10% 40% 10% 40%;
      grid-template-rows: 5% 1fr 80% 1fr 5%;
   }

   #title {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
      align-self: start;
   }

   #img { 
      transform: translateX(15%);
   }

   #about {
      grid-column: 1 / 4;
      z-index: 2; 
   }

   #strip {
      grid-column: 1 / 5;
      grid-row: 1 / span 5;
   }
}

@media only screen and (max-width: 580px) and (orientation: landscape) {
   #about {
      font-size: 14px;
   }
}