#wrapper {
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: 1fr 20% 1fr;
   grid-template-rows: 85% 15%;
   background: #FFF;
   z-index: 0;
   overflow: hidden;
}

#button {
   padding: 1em;
   grid-column: 2 / 3;
   grid-row: 1 / span 1;
   background: #121212;
   align-self: center;
   text-align: center;
   font-size: 24px;
   border-radius: 3px;
   top: 0px;
   left: 0px;
   transition: all 300ms;
   position: relative;
}

#button a {
   text-decoration: none;
   color: #FFF;
   display: block;
}

#button:hover {
   top: -4px;
   left: -4px;
   box-shadow: 2px 2px white, 4px 4px black;
}

#contact {
   grid-column: 2 / 4;
   grid-row: 2 / span 1;
   font-family: "HelveticaNeue", Helvetica;
   font-weight: bold;   
   align-self: end;
}

@media only screen and (max-width: 1050px) and (orientation: portrait) {
   #wrapper {
      height: 100%;
      grid-template-columns: 1fr 50% 1fr;
      grid-template-rows: 15% 70% 15%;
   }

   #button {
      grid-row: 2 / span 1;
      top: -4px;
      left: -4px;
      box-shadow: 2px 2px white, 4px 4px black;
      margin: 3em;
   }

   #contact {
      grid-row: 3 / span 1;
   }
}

@media only screen and (max-width: 770px) and (orientation: portrait) {
   #button {
      margin: .5em;
      font-size: 17px;
   }
}

@media only screen and (max-width: 920px) and (orientation: landscape) {
   #wrapper {
      height: 100%;
      grid-template-columns: 1fr 30% 1fr;
      grid-template-rows: 13% 70% 17%;
   }

   #button {
      grid-row: 2 / span 1;
      top: -4px;
      left: -4px;
      box-shadow: 2px 2px white, 4px 4px black;
   }

   #contact {
      grid-row: 3 / span 1;
   }
 }
 
 @media only screen and (max-width: 580px) and (orientation: landscape) {
   #wrapper {
      grid-template-columns: 1fr 35% 1fr;
      grid-template-rows: 13% 70% 17%;
   }

   #button {
      padding: 1em .75em;
      font-size: 20px;
   }
 }
