#wrapper {
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   grid-template-rows: 20% 1fr 350px 1fr 20%;
   background: #FFF;
   z-index: 0;
   overflow: hidden;
}

#main {
   grid-column: 2 / 6;
   grid-row: 1 / span 6;
   background: #FFF;
}

#poly {
   grid-column: 2 / 6;
   grid-row: 3 / span 1;
   background: #181840;
   transform: skewY(10deg);
   transform-origin: 35%;
   overflow: hidden;
}

#poly img {
   transform: skewY(-10deg) translateY(-20%);
}

#tech {
   grid-column: 1 / 2;
   grid-row: 3 / span 1;
   align-self: start;
   font-family: "HelveticaNeue-CondensedBold";
   z-index: 15;
}

#debate {
   margin: 0;
   grid-column: 2 / 4;
   grid-row: 3 / span 1;
   align-self: start;
   font-family: "HelveticaNeue-CondensedBold";
   z-index: 15;
}

#desc {
   padding-right: 2em;
   grid-column: 4 / 6;
   grid-row: 2 / span 2;
   align-self: start;
   text-align: right;
   z-index: 15;
   color: #616060;
   font-family: "Avenir";
}
