#wrapper {
   height: 100vh;
   display: grid;
   grid-template-rows: 60% 40%;
   grid-template-columns: 100%;
   justify-items: center;
   overflow: hidden;
   z-index: -1;
}

#bgimg {
   width: 100vw;
   grid-row: 1 / span 2;
   grid-column: 1 / 2;
   opacity: 0.4;
}

#headshot {
   margin: auto;
   width: 10em; 
}

#name {
   grid-row: 1 / span 1;
   grid-column: 1 / 2;
   align-self: end;
   z-index: 1;
}

.firstname {
   font-family: "HelveticaNeue-Light", Helvetica;
   font-size: 128px;
}

.lastname {
   font-family: "HelveticaNeue-Bold", Helvetica;
   font-size: 128px;
}

#desc {
   margin: 0 2em;
   font-family: "Avenir", Helvetica;
   font-size: 20px;
   text-align: center;
   grid-row: 2 / span 1;
   grid-column: 1 / 2;
   align-self: start;
   z-index: 1;
}

@media only screen and (max-width: 1050px) and (orientation: portrait) {

   #wrapper {
      grid-template-rows: 40% 60%;
   }

   #bgimg {
      width: 100%;
      grid-row: 1 / span 2;
      opacity: 0.3;
   }

   .firstname {
      font-size: 62px;
   }

   .lastname {
      font-size: 62px;
   }

   #desc {
      margin: 0 3em;
      font-size: 18px;
      align-self: center;
   }

   .imageWrapper {
      height: 100vh;
   }
}

@media only screen and (max-width: 920px) and (orientation: landscape) {
   
   #headshot {
      width: 150px;
   }
   
   .firstname,
   .lastname {
      font-size: 75px;
   }
   
   #desc {
      font-size: 18px;
   }
}

@media only screen and (max-width: 580px) and (orientation: landscape) {

   #headshot {
      width: 110px;
   }

   .firstname,
   .lastname {
      font-size: 50px;
   }

   #desc {
      font-size: 14px;
   }

}