#wrapper {
   height: 100vh;
   display: grid;
   grid-template-columns: 13% 17% 10% 50% 10%;
   grid-template-rows: 33% 33% 1fr;
   overflow: hidden;
   align-items: center;
}

#title {
   font-family: "HelveticaNeue-CondensedBold", Helvetica;
   font-weight: bold;
   opacity: 1;
   grid-column: 1 / 6;
   grid-row: 2 / span 1;
   z-index: 1;
}

#teachImg {
   grid-column: 2 / 3;
   grid-row: 1 / span 1;
   -webkit-filter: drop-shadow(0 0 5px #222) brightness(50%) grayscale(100%);
   filter: drop-shadow(0 0 5px #222) brightness(50%) grayscale(100%);
   z-index: 3;
}

#teach {
   grid-column: 2 / 3;
   grid-row: 1 / span 1;
   z-index: 2;
   font-family: "HelveticaNeue-CondensedBold", Helvetica;
   font-weight: bold;
   z-index: 4;
}

#teachImg:hover,
#teach:hover + #teachImg {
   filter: brightness(100%);
}

#teach:hover ~ #background,
#teachImg:hover ~ #background,
#teach:hover ~ #teachBlurb,
#teachImg:hover ~ #teachBlurb,
#teach:hover ~ #teachBg,
#teachImg:hover ~ #teachBg {
   opacity: 1;
}

#trainImg {
   grid-column: 2 / 3;
   grid-row: 2 / span 1;
   -webkit-filter: drop-shadow(0 0 5px #222) brightness(50%) grayscale(100%);
   filter: drop-shadow(0 0 5px #222) brightness(50%) grayscale(100%);
   z-index: 3;
}

#train {
   grid-column: 2 / 3;
   grid-row: 2 / span 1;
   z-index: 2;
   font-family: "HelveticaNeue-CondensedBold", Helvetica;
   font-weight: bold;
   z-index: 4;
}

#trainImg:hover,
#train:hover + #trainImg {
   filter: brightness(100%);
}

#train:hover ~ #background,
#trainImg:hover ~ #background,
#train:hover ~ #trainBlurb,
#trainImg:hover ~ #trainBlurb,
#train:hover ~ #trainBg,
#trainImg:hover ~ #trainBg {
   opacity: 1;
}

#competeImg {
   grid-column: 2 / 3;
   grid-row: 3 / span 1;
   -webkit-filter: drop-shadow(0 0 5px #222) brightness(50%) grayscale(100%);
   filter: drop-shadow(0 0 5px #222) brightness(50%) grayscale(100%);
   z-index: 3;
}

#compete {
   grid-column: 2 / 3;
   grid-row: 3 / span 1;
   z-index: 2;
   font-family: "HelveticaNeue-CondensedBold", Helvetica;
   font-weight: bold;
   z-index: 4;
}

#competeImg:hover,
#compete:hover + #competeImg {
   filter: brightness(100%);
}

#compete:hover ~ #background,
#competeImg:hover ~ #background,
#compete:hover ~ #competeBlurb,
#competeImg:hover ~ #competeBlurb,
#compete:hover ~ #competeBg,
#competeImg:hover ~ #competeBg {
   opacity: 1;
}

#background {
   grid-column: 1 / 6;
   grid-row: 1 / span 3;
   height: 100vh;
   width: 100vw;
   background: rgba(0, 0, 0, 0.6);
   z-index: 1;
   opacity: 0;
   transition: opacity 300ms ease-in-out;
}

#teachBlurb {
   margin-left: 2em;
   padding: 1em 4em;
   grid-column: 3 / 6;
   grid-row: 1 / span 1;
   z-index: 3;
   color: white;
   opacity: 0;
   background: rgb(0, 0, 0, 0.8);
   line-height: 2em;
   transition: opacity 300ms ease-in-out;
}

#trainBlurb {
   margin-left: 2em;
   padding: 1em 4em;
   grid-column: 3 / 6;
   grid-row: 2 / span 1;
   z-index: 3;
   color: white;
   opacity: 0;
   background: rgb(0, 0, 0, 0.8);
   line-height: 2em;
   transition: opacity 300ms ease-in-out;
}

#competeBlurb {
   margin-left: 2em;
   padding: 1em 4em;
   grid-column: 3 / 6;
   grid-row: 3 / span 1;
   z-index: 3;
   color: white;
   opacity: 0;
   background: rgb(0, 0, 0, 0.8);
   line-height: 2em;
   transition: opacity 300ms ease-in-out;
}

#teachBg,
#trainBg,
#competeBg {
   grid-column: 1 / 6;
   grid-row: 1 / span 3;
   align-self: start;
   z-index: 2;
   opacity: 0;
   filter: brightness(100%);
   transition: opacity 300ms ease-in-out;
}  


.active1 {
   -webkit-animation: slideInRight 500ms 200ms ease-in-out;
   -moz-animation: slideInRight 500ms 200ms ease-in-out;
   -o-animation: slideInRight 500ms 200ms ease-in-out;
   animation: slideInRight 500ms 200ms ease-in-out;
   -webkit-animation-fill-mode: both;
   -moz-animation-fill-mode: both;
   -o-animation-fill-mode: both;
   animation-fill-mode: both;
}

.active2 {
   -webkit-animation: slideInRight 500ms 300ms ease-in-out;
   -moz-animation: slideInRight 500ms 300ms ease-in-out;
   -o-animation: slideInRight 500ms 300ms ease-in-out;
   animation: slideInRight 500ms 300ms ease-in-out;
   -webkit-animation-fill-mode: both;
   -moz-animation-fill-mode: both;
   -o-animation-fill-mode: both;
   animation-fill-mode: both;
}

.active3 {
   -webkit-animation: slideInRight 500ms 400ms ease-in-out;
   -moz-animation: slideInRight 500ms 400ms ease-in-out;
   -o-animation: slideInRight 500ms 400ms ease-in-out;
   animation: slideInRight 500ms 400ms ease-in-out;
   -webkit-animation-fill-mode: both;
   -moz-animation-fill-mode: both;
   -o-animation-fill-mode: both;
   animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
   from {
     transform: translate3d(-200%, 0, 0);
     visibility: hidden;
   }
 
   to {
     transform: translate3d(0, 0, 0);
     visibility: visible;
   }
 }
@-moz-keyframes slideInRight {
   from {
     transform: translate3d(-200%, 0, 0);
     visibility: hidden;
   }
 
   to {
     transform: translate3d(0, 0, 0);
     visibility: visible;
   }
 }
@-o-keyframes slideInRight {
   from {
     transform: translate3d(-200%, 0, 0);
     visibility: hidden;
   }
 
   to {
     transform: translate3d(0, 0, 0);
     visibility: visible;
   }
 }
@keyframes slideInRight {
   from {
     transform: translate3d(-200%, 0, 0);
     visibility: hidden;
   }
 
   to {
     transform: translate3d(0, 0, 0);
     visibility: visible;
   }
 }
 