.wrapper {
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   grid-template-rows: minmax(60px, 30vh) max-content 1fr;
   overflow: hidden;
}

#debatenav {
   height: 80%;
   grid-column: 1 / 5;
   grid-row: 1 / span 2;
   justify-self: end;
   align-self: center;
   font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
   font-size: 36px;
   visibility: hidden;
   z-index: 3;
}

#devnav {
   height: 80%;
   grid-column: 7 / 11;
   grid-row: 1 / span 2;
   justify-self: start;
   align-self: center;
   font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
   font-size: 36px;
   visibility: hidden;
   z-index: 2;
}

#img {
   grid-column:  4 / 8;
   grid-row: 2 / span 1;
   z-index: 0;
}
 
#debate {
   font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
   grid-column: 1 / 6;
   grid-row: 1 / span 3;
   z-index: 2;
   overflow: hidden;
   transition: background-position 1s ease-in-out;
}

#dev {
   font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
   grid-column: 6 / 11;
   grid-row: 1 / span 3;
   z-index: 1;
   overflow: hidden;
}

#title {
   grid-column: 6 / 11;
   grid-row: 3 / span 1;
   align-self: end;
   font-family: "HelveticaNeue-CondensedBold", Helvetica;
   font-weight: bold;
}

#debateDesc {
   grid-column: 8 / 10;
   grid-row: 1 / span 2;
   font-family: "Avenir";
   color: #a7a7a7;
   align-self: center;
   z-index: 1;
}

#devDesc {
   grid-column: 2 / 4;
   grid-row: 1 / span 2;
   font-family: "Avenir";
   color: #a7a7a7;
   align-self: center;
   z-index: 1;
}

a {
   cursor: pointer;
}

a:hover {
}

@media only screen and (max-width: 1050px) {
   .wrapper {
      grid-template-columns: 16% 16% 18% 18% 16% 16%;
      grid-template-rows: 25% 25% 25% 25%;
   }

   #debate {
      grid-column: 1 / 4;
      grid-row: 1 / span 3;
   }
   
   #dev {
      grid-column: 4 / 7;
      grid-row: 1 / span 3;
   }

   #debatenav {
      padding-right: 1em;
      height: 100%;
      width: 100%;
      grid-column: 1 / 5;
      grid-row: 2 / span 2;
      align-self: end;
   }

   #devnav {
      height: 100%;
      width: 100%;
      grid-column: 3 / 7;
      grid-row: 2 / span 2;
      align-self: end;
   }

   #debateDesc {
      display: none;
   }

   #devDesc {
      display: none;
   }

   #img {
      grid-column:  1 / 7;
      grid-row: 1 / span 4;
      align-self: center;
      transition: transform 300ms linear;
   }

   #title {
      grid-column: 3 / 7;
      grid-row: 4 / span 1;
   }

   .slideLeft {
      transform: translateX(-30%);
      transition: transform 300ms ease-in-out;
   }

   .slideRight {
      transform: translateX(30%);
      transition: transform 300ms ease-in-out;
   }
}